body.dark {
    --bg-primary: #222222;
    --bg-secondary: #2c2c2c;
    --bg-tertiary: #444444;
    
    --bg-hover-primary: #808080;
    --bg-hover-secondary: #444444;
    --bg-hover-tertiary: #808080;

    --color-primary: #ffffff;
    --color-secondary: #ffffff;
    --color-tertiary: #ffffff;

    --color-hover-primary: #ffffff;
    --color-hover-secondary: #ffffff;
    --color-hover-tertiary: #ffffff;

    --icon-primary: #ffffff;
    --icon-secondary: #ffffff;
    --icon-tertiary: #ffffff;

    --icon-hover-primary: #ffffff;
    --icon-hover-primary: #ffffff;
    --icon-hover-primary: #ffffff;

    --border-primary: #808080;
    --border-secondary: #444444;
    --border-tertiary: #444444;

    --hint-primary: #c4c4c4;
    --hint-secondary: #c4c4c4;
    --hint-tertiary: #c4c4c4;

    --switcher-active: #ffffff;
    --switcher-un-active: #808080;

    --window-border: #444444;
}