.deck {
    padding: 3rem 5rem;
}

.deck__name {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.deck__description {
    width: 90%;
    padding: 2rem;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    background-color: var(--bg-secondary);
    border-radius: 1rem;
    
    &__title {
        font-weight: 600;
    }
    
    &__value {
        margin-top: 1rem;
        line-height: 2.4rem;
        color: var(--hint-primary);
    }
}