.search {
    padding: 0 1.5rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
}

.search__input {
    width: calc(100% - 5.4rem);
    font-size: 1.6rem;
}