@mixin menu-item-active {
    color: var(--color-hover-secondary);
    background-color: var(--bg-hover-secondary);
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__items {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.menu__item, .menu__item__remove {
    padding: .8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    cursor: pointer;
}

.menu__item:hover {
    @include menu-item-active();
}

.menu__item__active {
    @include menu-item-active();
}

.menu__item__remove  {
    color: var(--color-remove);
    background-color: var(--bg-remove);
}

.menu__item__dropdown {
    position: relative;
}

.menu__item__dropdown__items {
    width: 100%;
    position: absolute;
    top: 3.7rem;
    left: 0;
    background-color: var(--bg-hover-secondary);
    border-radius: 0 0 1rem 1rem;
}