.tabs {
    display: flex;
    justify-content: center;
}

.tabs__titles {
    padding: .2rem;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: .2rem;
    border-radius: 1rem;
}

.tabs__title {
    padding: .5rem 3rem;
    text-align: center;
    border-radius: 1rem;
    transition: .2s;
    cursor: pointer;
}

.tabs__item {
    margin-top: 1rem;
}

.tabs__item__switch {
    opacity: 0;
}