.hamburger {
    padding: 1rem;
    padding-right: 0;
    min-width: 22rem;
    width: 22rem;
    height: 100%;
    transition: 0.4s;
    overflow: hidden;

    &__hide {
        padding: 0;
        min-width: 0;
        width: 0;
    }
}

.hamburger__menu {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    color: var(--color-secondary);
    background-color: var(--bg-secondary);
}