.decks__empty {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.decks__empty__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.decks__empty__hint {
    text-align: center;
    margin: 1.5rem 0;
    color: var(--hint-secondary);
}

.decks__empty__button {
    margin: auto;
    width: 13rem;
}