.select {
    padding-right: 2rem;
    position: relative;
    height: 3.7rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.select__selected__item {
    flex-grow: 1;
    line-height: 3.7rem;
    padding: 0 2rem;
}

.select__items {
    padding: 0.1rem;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

.select__item {
    padding: 0 2rem;
    line-height: 3.5rem;
    border-radius: 1rem;
}