.main {
    height: 100vh;
    width: 100%;
    border-radius: 1rem;
    border: .1rem solid var(--window-border);
    background-color: var(--bg-primary);
    color: var(--color-primary);
    overflow: hidden;
}