.header {
    width: 100%;
    height: 4.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
}

.header__title {
    width: 100%;
    text-align: center;
    line-height: 4.5rem;
    white-space: nowrap;
}

.header__controls {
    padding: 0 2rem;
    height: 100%;
    width: 20rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__window__controls {
    padding: 0 2rem;
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: flex-end;
}