.header {
    width: 100%;
    height: 4.5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    -webkit-app-region: drag;
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
}

.header__left {
    flex-grow: 1;
    padding: 0 5.5rem 0 2.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__middle {
    flex-grow: 3;
    width: 100%;
    max-width: 50rem;
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
}

.header__right {
    flex-grow: 1;
    padding: 0 2.5rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}